body {
    font-family: sans-serif;
}

.photoBox {
    display: inline-block;
    padding: 10px;
    margin: 10px; 
    border: 1px solid gray;
}

.errorBox {
    display: inline-block;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    padding: 10px;
}

.commentBox {
    padding: 10px;
    margin: 10px; 
    border: 1px solid gray;
}

.commentBox .commentDate {
    color: gray;
}

.commentBox .commentUserBox img {
    border-radius: 100%;
}